.ArtworkInformation {
  background-color: #131317;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ArtworkInformation .div {
  background-color: #131317;
  height: 2501px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.ArtworkInformation .b-tart-wrapper {
  align-items: center;
  display: flex;
  gap: 479px;
  justify-content: space-around;
  left: 36px;
  position: absolute;
  top: 32px;
  width: 1368px;
}

.ArtworkInformation .b-tart {
  color: #ffffff;
  font-family: "Cormorant Unicase", Helvetica;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ArtworkInformation .frame-2 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 36px 70px;
  position: absolute;
  top: 2408px;
  width: 1440px;
}

.ArtworkInformation .frame-3 {
  background-image: url(../../../static/img/btart.svg);
  background-size: 100% 100%;
  height: 21.29px;
  position: relative;
  width: 96px;
}

.ArtworkInformation .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.ArtworkInformation .text-wrapper {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ArtworkInformation .ellipse {
  background-color: #ffffff;
  border-radius: 1px;
  height: 2px;
  position: relative;
  width: 2px;
}

.ArtworkInformation .p {
  color: #bababa;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ArtworkInformation .line {
  height: 2px;
  left: 70px;
  position: absolute;
  top: -2px;
  width: 1300px;
}

.ArtworkInformation .frame-5 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 112px;
  cursor: pointer;
}

.ArtworkInformation .group {
  border: 1px solid;
  border-color: #bababa;
  border-radius: 14px;
  height: 28px;
  position: relative;
  transform: rotate(180deg);
  width: 28px;
}

.ArtworkInformation .arrow-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 5px;
  justify-content: center;
  left: 2px;
  position: relative;
  top: 11px;
  width: 22px;
}

.ArtworkInformation .arrow {
  height: 7.36px;
  margin-bottom: -1.04px;
  margin-top: -1.04px;
  object-fit: cover;
  position: relative;
  transform: rotate(-180deg);
  width: 12.5px;
}

.ArtworkInformation .text-wrapper-2 {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-shadow: 4px 4px 4px #00000040;
  width: fit-content;
  cursor: pointer;
}

.ArtworkInformation .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 507px;
  width: 549px;
}

.ArtworkInformation .text-wrapper-3 {
  align-self: stretch;
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.ArtworkInformation .text-wrapper-frame-owenr-1 {
  align-self: stretch;
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.ArtworkInformation .frame-owenr-1 {
  display: flex;
  flex-direction: column; /* 改成纵向排列 */
  align-items: flex-start; /* 左对齐 */
  gap: 12px; /* 控制上下间距 */
  left: 432px;
  padding: 0px 12px;
  position: absolute;
  top: 620px;
  width: 573px;
}

.ArtworkInformation .text-wrapper-frame-owenr-2 {
  align-self: stretch;
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.ArtworkInformation .frame-owenr-2 {
  display: flex;
  flex-direction: column; /* 改成纵向排列 */
  align-items: flex-start; /* 左对齐 */
  gap: 12px; /* 控制上下间距 */
  left: 432px;
  padding: 0px 12px;
  position: absolute;
  top: 725px;
  width: 573px;
}
.ArtworkInformation .text-wrapper-frame-owenr-3 {
  align-self: stretch;
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.ArtworkInformation .frame-owenr-3 {
  display: flex;
  flex-direction: column; /* 改成纵向排列 */
  align-items: flex-start; /* 左对齐 */
  gap: 12px; /* 控制上下间距 */
  left: 432px;
  padding: 0px 12px;
  position: absolute;
  top: 830px;
  width: 573px;
}
.ArtworkInformation .image {
  height: 19px;
  object-fit: cover;
  position: relative;
  width: 30px;
}
.ArtworkInformation .rectangle {
  align-self: stretch;
  border: 1px solid;
  border-color: #c4c4c4;
  height: 48px;
  position: relative;
  width: 100%;
}

.ArtworkInformation .frame-7 {
  align-items: center;
  display: flex;
  gap: 12px;
  left: 0;
  padding: 0px 12px;
  position: absolute;
  top: 45px;
  width: 266px;
}


.ArtworkInformation .text-wrapper-4 {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ArtworkInformation .frame-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 861px;
  width: 549px;
}

.ArtworkInformation .rectangle-2 {
  align-self: stretch;
  border: 1px solid;
  border-color: #c4c4c4;
  height: 100px;
  position: relative;
  width: 100%;
}

.ArtworkInformation .text-wrapper-5 {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -72.50px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ArtworkInformation .frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 1031px;
  width: 549px;
}

.ArtworkInformation .text-wrapper-6 {
  color: #c4c4c4;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ArtworkInformation .frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 1201px;
  width: 549px;
}

.ArtworkInformation .frame-11 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  left: 446px;
  position: absolute;
  top: 625px;
  width: 549px;
}

.ArtworkInformation .frame-12 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  position: relative;
}

.ArtworkInformation .frame-13 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  left: 446px;
  position: absolute;
  top: 743px;
  width: 549px;
}

.ArtworkInformation .frame-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 389px;
  width: 549px;
}

.ArtworkInformation .frame-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.ArtworkInformation .frame-16 {
  align-items: center;
  display: flex;
  gap: 12px;
  left: 0;
  padding: 0px 12px;
  position: absolute;
  top: 15px;
  width: 266px;
}

.ArtworkInformation .frame-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 1371px;
  width: 549px;
}

.ArtworkInformation .frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.ArtworkInformation .img {
  height: 80px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.ArtworkInformation .folder-search-light-1 {
  height: 24px !important;
  left: 148px !important;
  position: absolute !important;
  top: 56px !important;
  width: 24px !important;
}

.ArtworkInformation .folder-search-light-1-instance {
  height: 24px !important;
  left: 56px !important;
  position: absolute !important;
  top: 56px !important;
  width: 24px !important;
}

.ArtworkInformation .folder-search-light-instance {
  height: 24px !important;
  left: 240px !important;
  position: absolute !important;
  top: 56px !important;
  width: 24px !important;
}

.ArtworkInformation .frame-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 446px;
  position: absolute;
  top: 1521px;
  width: 549px;
}

.ArtworkInformation .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.ArtworkInformation .frame-20 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 37px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 11px 36px;
  position: relative;
}

.ArtworkInformation .text-wrapper-7 {
  color: #000000;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.ArtworkInformation .import-light-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.ArtworkInformation .frame-21 {
  align-items: center;
  display: inline-flex;
  gap: 36px;
  left: 446px;
  position: absolute;
  top: 320px;

}

.ArtworkInformation .frame-22 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 200px;
}

.ArtworkInformation .text-wrapper-8 {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.ArtworkInformation .rectangle-3 {
  align-self: stretch;
  background-color: #ffffff;
  height: 1px;
  position: relative;
  width: 100%;
}

.ArtworkInformation .text-wrapper-9 {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.ArtworkInformation .rectangle-4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  width: 100%;
 background-color: #ffffff;

}

.ArtworkInformation .line-2 {
  height: 1px;
  left: 446px;
  object-fit: cover;
  position: absolute;
  top: 352px;
  width: 549px;
}

.ArtworkInformation .frame-23 {
  align-items: center;
  background-color: #ffffff1a;
  display: flex;
  justify-content: space-between;
  left: 446px;
  padding: 12px;
  position: absolute;
  top: 176px;
  width: 549px;
}

.ArtworkInformation .frame-24 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.ArtworkInformation .rectangle-5 {
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.ArtworkInformation .frame-25 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.ArtworkInformation .frame-26 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.ArtworkInformation .text-wrapper-10 {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ArtworkInformation .frame-27 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.ArtworkInformation .text-wrapper-11 {
  color: #c4c4c4;
  font-family: "IBM Plex Sans Condensed", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ArtworkInformation .frame-28 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: flex-end;
  position: relative;
}

.ArtworkInformation .frame-29 {
  align-items: center;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 37px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 8px 12px;
  position: relative;
}

.ArtworkInformation .arrow-2 {
  height: 10.85px;
  margin-right: -0.50px;
  object-fit: cover;
  position: relative;
  width: 10.86px;
}